.idea
/out
.DS_Store
/log
out/
target/
cmake-build-debug
test
Makefile
*.log
*.txt
*.lst
*.ninja
*.cfg
*.MF
*.json
/cmake-build-debug/**/*
venv
/part13/asp.net.core/001/startup001/startup001/bin/
/part13/asp.net.core/001/startup001/startup001/obj/
